body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.contact-section {
  padding: 90px 0;
}
.contact-section h1 {
  font-size: 48px;
  font-weight: 700;
}

.address {
  color: #777;
  font-size: 14px;
  margin-top: 10px;
}
.icon {
  font-size: 26px;
  margin-bottom: 15px;
}

.contact-section h6 {
  font-weight: 600;
}

.contact-section small {
  color: #888;
  display: block;
}

.contact {
  color: black;
  display: block;
}

.contact:hover {
  color: red;
}

.live {
  color: black;
  font-weight: 500;
}

.social i {
  margin: 5px;
  cursor: pointer;
}
.social i:hover{
    color:rgb(238, 10, 10);
    background-color:rgb(255, 0, 0);

}
.form-section {
  background: white;
  padding: 40px 0;
}

.form-section h4 {
  font-weight: 600;
  margin-bottom: 15px;
}

.form-wrapper {
  width: 70%;
  margin: auto;
}
form input,
form textarea,
form button {
  width: 100%;
  margin: 10px 0;
  padding: 14px;
  border: none;
  background: rgba(235, 238, 240, 1);
  border-radius: 8px;
}

form textarea {
  height: 150px;
}

form button {
  background: black;
  color: white;
  font-weight: 600;
}

.map-section {
  width: 100%;
  margin-top: 50px;
}

.map-container {
  margin: 0;
  width: 100%;
height: 500px;
  
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
+